#social {
  margin-top: 20px;
  text-align: center;
}

article h1 {
  font-size: 20px;
  border-left: 2px solid #bcc;
  border-bottom: 2px dotted #bcc;
  margin: 50px 0 25px 0;
  padding-left: 10px;
}
article h2 {
  font-size: 18px;
  border-bottom: 2px solid #bcc;
  margin: 50px 0 25px 0;
}
article h3 {
  font-size: 16px;
  margin: 40px 10px 25px 0;
  border-left: 2px solid #bcc;
  padding-left: 5px;
}
article h4,
article h5,
article h6 {
  font-size: 16px;
  margin: 40px 0 25px 0;
}
article {
  margin: 25px 0;
  font-size: 10pt;
  line-height: 1.6em;
}
.item header h3 {
  font-size: 14pt;
}

article code {
  font-family: consolas, "Courier New", monospace;
  font-style: bold;
  color: #f66;
  background-color: #fee;
  border-radius: 3px;
  margin: 3px 3px;
}
article pre code {
  margin: 20px;
  padding-left: 20px;
  font-family: consolas, "Courier New", monospace;
}
article blockquote {
  margin: 10px 0;
  padding-left: 20px;
  border-left: 4px solid #ccc;
  font-style: italic;
}
article img {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.article-header {
  border-left: 4px solid #29abe2;
  margin: 10px 0 25px -4px;
  padding: 5px 0 5px 10px;
}

article hr {
  border: 1px dashed #ddd;
  margin: 20px;
}

nav ul.pagination {
  font-size: 0;
  text-align: center;
  margin: 0;
}
nav ul.pagination li {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 3px 10px;
  margin: 0 3px;
}
nav ul.pagination li.active {
  border: 2px solid #29abe2;
  font-size: 14px;
}
nav ul.pagination li:hover {
  border-color: #29abe2;
}
nav.pagination-single {
  padding: 20px 0 20px 0;
  overflow: hidden;
  font-size: 14px;
}
nav.pagination-single span.previous {
  float: left;
  padding: 10px 0 10px 0;
  max-width: 300px;
  font-size: 14px;
}
nav.pagination-single span.next {
  float: right;
  padding: 10px 0 10px 0;
  max-width: 300px;
  font-size: 14px;
}
nav.pagination-single a {
  color: #29abe2;
  font-size: 14px;
}
.summary {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.meta {
  color: #999;
  font-size: 12px;
}

.light-gray {
  color: #999;
}

main#list{
  margin: 10px 15px 10px 15px;
}

main#list h2{
  font-size: 14pt;
}

.row {
  margin: 10px;
}

figcaption{
  text-align: center;
  margin-bottom: 20px;
}

figcaption h4{
  font-size: 10pt;
}

figcaption h4:before{
  content: "fig. ";
}

iframe{
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure img{
  margin-bottom: -20px;
  max-width: 80%;
  max-height: 480px;
}

.footnotes{
  counter-reset: annotation;
}
.footnotes li:before {
  counter-increment: annotation;
  content: "▷" counters(annotation, ".") ". ";
}
article li:before{
  content: "・";
  padding-left: 10px;
}
